{{template "header.html" .}}
<title>Sign up | MiniTwit</title>
<h2>Sign Up</h2>
{{if .content}}<div class=error><strong>Error:</strong> {{.content}}</div>{{end}}
<form action="/register" method=post>
  <dl>
    <dt>Username:
    <dd><input type=text name=username size=30 required>
    <dt>E-Mail:
    <dd><input type=text name=email size=30 required>
    <dt>Password:
    <dd><input type=password name=password size=30 required>
    <dt>Password <small>(repeat)</small>:
    <dd><input type=password name=password2 size=30 required>
  </dl>
  <div class=actions><input type=submit value="Sign Up"></div>
</form>
{{template "footer.html"}}