{{template "header.html" .}}
<title>{{.title}}</title>
<h2>{{.title}}</h2>
{{if .user}}
  {{if .userProfile}}
    <div class="followstatus">
    {{if .isSelf}}
      This is you!
    {{else if .followed}}
      You are currently following this user.
    {{else}}
      You are not yet following this user.
    {{end}}
    </div>
  {{else}}
    <div class=twitbox>
      <h3>What's on your mind {{ .user.username }}?</h3>
      <form action="/add_message" method=post>
        <p><input type=text name=text size=60>
          <input type=submit value="Share">
      </form>
    </div>
  {{end}}
{{end}}
<ul class="messages">
{{range .messages}}
<li><img src="{{ .Email | gravatarUrl }}"><p>
  <strong><a href="/{{.Username}}">{{ .Username }}</a></strong>
  {{ .Text }}
  <small>&mdash; {{ .PubDate | formatDatetime }}</small>
{{else}}
  <li><em>There's no message so far.</em>
{{end}}
</ul>
{{template "footer.html"}}